__pycache__
work
.vscode
.cache
.cursor

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/__pycache__/

# tokens
init_token.sh

examples/fixes*
issue_cache/
test_*
utils/alive2
utils/llvm
utils/cost/cost
build/

*.log
log/
test**
xray-trace/
dataset-orig/
utils/
.opencode
.auto-opt_nano.code-workspace
result/
results/
RAG/index_store/embeddings.npy
dataset-all/
dataset-patch/
dataset-real/
am/
llvm-project/
